In [1]:
#==================================================
#******************Question 1********************
#--------------------------------------------------
#Student Name: Sopumelela
#Student Surname: Sandekela
#Student Number: CON-1475940-C5L6
#==================================================

#importing libraries.
import numpy as np
import pandas as pd
import random

np.random.seed(0)

#==============================================================================
#THIS FUNCTION CREATE A WHOLE DATASET...
#==============================================================================
def create_DataFrame():
    #------------------------------------------------------------------
    #Generating student number...
    #------------------------------------------------------------------
    def generate_Stud_Num():
        import string

        studentNum = ""
        alphabets = string.ascii_uppercase
        digits = string.digits

        #---------------------------------------------
        #Function for generating random string
        #---------------------------------------------
        def generate_alphabets(line,num):
            line += "".join([random.choice(alphabets) 
                             for i in range(num)])

            return line
        #---------------------------------------------

        #---------------------------------------------
        #Function for generating random Integers
        #---------------------------------------------
        def generate_Integers(line):
            line += "".join([random.choice(digits) 
                             for i in range(3)])

            return line
        #---------------------------------------------

        #CON537GF
        studStr = generate_alphabets(studentNum, 3)#CON

        studInt = generate_Integers(studStr)#537

        studentNum = generate_alphabets(studInt, 2)#GF

        #Adding "-" to Student number.
        #CON-537-GF
        stud = studentNum
        studentNum = stud[0]+stud[1]+stud[2] 
        studentNum += '-' + stud[3]+stud[4]+stud[5]
        studentNum += '-' +stud[6]+stud[7]

        return studentNum
        #------------------------------------------------------------------

    x=0
    studNum = np.array([])
    while x != 150:
        studentNumber = ""
        studentNumber = generate_Stud_Num()
        studNum = np.append(studNum, studentNumber)
        x += 1


    #------------------------------------------------------------------
    #Generating student ages using random()...
    #------------------------------------------------------------------
    #my goal is to create a function that generate numpy array 
    #with random int elements everytime i call it.

    def generate_ages():
        age_18to25 = np.array([])
        age_25to35 = np.array([])
        age_35to45 = np.array([])
        age_over45 = np.array([])
        
        for j in range(150):
            rand = random.randint(1, 4)
            if (rand == 1):
                age = np.random.randint(18, 26) #18-25
                age_18to25 = np.append(age_18to25, age)
                age_25to35 = np.append(age_25to35, 0)
                age_35to45 = np.append(age_35to45, 0)
                age_over45 = np.append(age_over45, 0)
                
            elif (rand == 2):
                age = np.random.randint(24, 36) #25-35
                age_25to35 = np.append(age_25to35, age)
                age_18to25 = np.append(age_18to25, 0)
                age_35to45 = np.append(age_35to45, 0)
                age_over45 = np.append(age_over45, 0)
            
            elif (rand == 3):
                age = random.randint(36, 46) #35-45
                age_35to45 = np.append(age_35to45, age)
                age_18to25 = np.append(age_18to25, 0)
                age_25to35 = np.append(age_25to35, 0)
                age_over45 = np.append(age_over45, 0)
        
            elif (rand == 4):
                age = random.randint(45, 60) #35-45
                age_over45 = np.append(age_over45, age)
                age_18to25 = np.append(age_18to25, 0)
                age_25to35 = np.append(age_25to35, 0)
                age_35to45 = np.append(age_35to45, 0)
        
        return age_18to25, age_25to35, age_35to45, age_over45

    arrAges = generate_ages()
    #------------------------------------------------------------------

    
    #------------------------------------------------------------------
    #Generating Hours spent studying on campus...
    #------------------------------------------------------------------
    def gen_Minutes():
        min_1 = np.array([])
        min_2 = np.array([])
        min_3 = np.array([])

        for i in range(150):
            rand = 0
            rand = random.randint(1, 3)
            
            if (rand == 1):
                tMin = random.randint(60, 120)
                min_1 = np.append(min_1, tMin)
                min_2 = np.append(min_2, 0)
                min_3 = np.append(min_3, 0)
                
            elif(rand == 2):
                tMin = random.randint(120, 180)
                min_1 = np.append(min_1, 0)
                min_2 = np.append(min_2, tMin)
                min_3 = np.append(min_3, 0)
                
            elif(rand == 3):
                tMin = random.randint(240, 300)
                min_1 = np.append(min_1, 0)
                min_2 = np.append(min_2, 0)
                min_3 = np.append(min_3, tMin)
             
        return min_1, min_2, min_3        

    def covert_to_hours(arrMin):
        arrHour = np.array([])
        for x in arrMin:
            inHours = x / 60
            inHours = round(inHours, 2)
            arrHour = np.append(arrHour, inHours)
        return arrHour

    min_1to2, min_2to3, min_4to5 = gen_Minutes()

    hour_1to2 = covert_to_hours(min_1to2)
    hour_2to3 = covert_to_hours(min_2to3)
    hour_4to5 = covert_to_hours(min_4to5)
    #------------------------------------------------------------------


    #------------------------------------------------------------------
    #Generating Student mark achieved...
    #------------------------------------------------------------------
    def gen_percentage():
        marks = np.random.randint(0, 131, (150)) #0 - 130 marks

        lstperc = []
        for m in marks:
            perc = (m / 130) * 100
            lstperc.append(round(perc, 2))   
        return lstperc
    percentage = gen_percentage()
    #------------------------------------------------------------------


    #------------------------------------------------------------------
    #Generating Time taken on examination...
    #------------------------------------------------------------------
    time_Taken = np.random.randint(0, 180, (150)) #1 min - 180 min.

    #------------------------------------------------------------------


    #------------------------------------------------------------------
    #Populating dictionary for DataFrame Dataset...
    #------------------------------------------------------------------
    dictStudents = {"Student number": studNum, "Age 18-25": arrAges[0],
    "Age 25-35": arrAges[1], "Age 35-45": arrAges[2], "Over 45 age":arrAges[3],
    "1-2 Hours": hour_1to2, "2-3 Hours": hour_2to3, "4-5 Hours": hour_4to5,
    "Marks achieved": percentage, "Time taken": time_Taken}
    #------------------------------------------------------------------

    return dictStudents
#==============================================================================

dictExamn1 = create_DataFrame() #generate and call first dataset.
dictExamn2 = create_DataFrame() #generate and call second dataset.

#------------------------------------------------------------------
#Creating Dataset of the dictionary...
#------------------------------------------------------------------
data_frame1 = pd.DataFrame(dictExamn1)
data_frame2 = pd.DataFrame(dictExamn2)
#------------------------------------------------------------------

print("")
print("*********************************")
print("Examination One:")

*********************************
Examination One:

In [3]:
data_frame1.head(150)

,Student number,Age 18-25,Age 25-35,Age 35-45,Over 45 age,1-2 Hours,2-3 Hours,4-5 Hours,Marks achieved,Time taken
0,VUJ-228-ML,22.0,0.0,0.0,0.0,1.90,0.00,0.00,43.85,80
1,BIV-964-XA,0.0,0.0,36.0,0.0,1.58,0.00,0.00,26.92,136
2,KRS-139-VW,25.0,0.0,0.0,0.0,0.00,0.00,4.75,78.46,129
3,RXC-104-WI,0.0,29.0,0.0,0.0,0.00,0.00,4.65,91.54,112
4,PWV-390-BU,0.0,0.0,36.0,0.0,0.00,0.00,4.75,8.46,35
...,...,...,...,...,...,...,...,...,...,...
145,EKI-707-SS,0.0,33.0,0.0,0.0,0.00,0.00,4.20,25.38,100
146,XQF-673-CK,0.0,0.0,43.0,0.0,0.00,0.00,4.62,27.69,49
147,CMN-103-SJ,0.0,0.0,44.0,0.0,0.00,2.23,0.00,0.00,87
148,ZUA-160-DU,0.0,0.0,39.0,0.0,0.00,2.95,0.00,26.15,30
149,FFI-741-IU,0.0,0.0,0.0,49.0,0.00,0.00,4.35,96.92,54

In [4]:
print("*********************************")
print("Examination Two:")
data_frame2.head(150)

*********************************
Examination Two:

,Student number,Age 18-25,Age 25-35,Age 35-45,Over 45 age,1-2 Hours,2-3 Hours,4-5 Hours,Marks achieved,Time taken
0,XQF-010-PD,0.0,0.0,0.0,46.0,0.00,2.47,0.00,20.00,154
1,HSX-773-MW,19.0,0.0,0.0,0.0,0.00,0.00,4.53,83.85,87
2,IYD-319-TJ,22.0,0.0,0.0,0.0,1.90,0.00,0.00,96.15,48
3,AKI-271-ZB,0.0,25.0,0.0,0.0,0.00,0.00,4.63,72.31,102
4,PYG-159-BB,0.0,0.0,46.0,0.0,0.00,0.00,4.87,55.38,9
...,...,...,...,...,...,...,...,...,...,...
145,LPN-259-GD,22.0,0.0,0.0,0.0,0.00,2.00,0.00,50.00,117
146,SZJ-362-OU,19.0,0.0,0.0,0.0,1.65,0.00,0.00,91.54,9
147,EQY-802-VO,22.0,0.0,0.0,0.0,0.00,2.32,0.00,15.38,79
148,NGH-781-VI,0.0,0.0,36.0,0.0,0.00,0.00,4.82,32.31,161
149,ULU-676-AR,0.0,28.0,0.0,0.0,0.00,2.80,0.00,21.54,132

In [5]:
#==================================
#EXPORT TO A CSV FILE
#----------------------------------

data_frame1.to_csv("First Examination.csv")
data_frame2.to_csv("Second Examination.csv")

print("=============================")
print("****EXPORTED SUCCESSFULLY****")
print("=============================")

#==================================

=============================
****EXPORTED SUCCESSFULLY****
=============================